/* Alex Hirota, ID: 46872792 */

@media screen and (min-width: 320px) {
	body, div, h1, h2, h3, h4, p, li{
		margin: 0; padding: 0; border: 0;
	}

	body {
		margin: 0 auto;
	}

	a{
		color: #fff;
		text-decoration: none; 
		margin: 0 auto;
		font-family: 'Oswald', sans-serif;
	}

	header {
		margin: 0 auto;
		margin-top: 0;
		padding-top: 10px;
		height: 50px;
		width: 100%;
		background: #000;
	}

	header h1{
		float: left;
		margin-left: 10px;
	}

	header ul{
		margin: 0;
		padding: 0;
		border: 0;
		float: right;
		margin-right: 10px;
	}

	header ul li{
		float: left;
		font-size: 30px;
		margin: 0 0 0 10px;
		list-style: none;
		display: inline;
	}


	footer {
		margin: 0 auto;
		height: 100%;
		width: 100%;
		max-width: 840px;
		background: #000000;
		z-index: 10;
	    overflow:hidden;
	}

	#headerContent {
		color: #fff;
		font-family: 'Oswald', sans-serif;
	}

	#footerContent {
		color: #fff;
		margin-left: 10px;
	}

	h2, h3, h4{
		font-family: 'Oswald', sans-serif;
	}

	p, ol, li{
		font-family: 'Source Sans Pro', sans-serif;
	}

	#img1, #img2{
		display: none;
	}
}


@media screen and (min-width: 768px) {
	#changelog {
		padding: 10px;
	}

	#changelog ol{
		margin: 0;
		border: 0;
	}

	#word {
		padding: 10px;
	}

	#word ol{
		margin: 0;
		border: 0;
	}

	#about {
		padding: 10px;
	}

	#skills{
		padding: 10px;
	}

	#interests {
		padding: 10px;
	}

	#interests ul{
		margin: 0;
		border: 0;
	}

	#resume {
		padding: 10px;
	}

	#projects {
		padding: 10px;
	}
}


@media screen and (min-width: 1224px) {
	header, footer{
		background-image:url("../img/headerBackground.jpg"); 
		max-width: 840px;
	}

	body{
		max-width: 840px;
	}

	header ul li a:hover{
	text-decoration: underline;
	}

	#img1{
	padding-top: 10px;
 	display: block;
 	float: right; 
 	margin-left: auto;
 	margin-right: auto;
 	}

 	#img2{
	padding-top: 10px;
 	display: block;
 	float: right; 
 	margin-left: auto;
 	margin-right: auto;
 	}
}
